/**
 * @file
 * Default styles for the order total summary.
 */

.order-total-line {
  padding: 0 10px;
  text-align: right;
}
.order-total-line__total {
  padding-top: 5px;
  font-weight: bold;
}
.order-total-line-label {
  display: inline-block;
  padding: 0 10px;
}
.order-total-line-value {
  display: inline-block;
  text-align: right;
}
